<div>
  <div  *ngIf="data.title">Title: {{ data.title }}</div>
  <div  *ngIf="data.name">Name: {{ data.name }}</div>
  <div  *ngIf="data.model">Model: {{ data.model }}</div>
  <div  *ngIf="data.manufacturer">Manufacturer: {{ data.manufacturer }}</div>
  <div  *ngIf="data.crew">Crew: {{ data.crew }}</div>
  <div  *ngIf="data.passengers">Passengers: {{ data.passengers }}</div>
  <div  *ngIf="data.cargo_capacity">Cargo Capacity: {{ data.cargo_capacity}}</div>
  <div  *ngIf="data.consumables">Food Supply: {{ data.consumables }}</div>
  <div  *ngIf="data.producer">Producer(s): {{ data.producer }}</div>
  <div  *ngIf="data.population">
    Population: {{ data.population }}
  </div>
  <div  *ngIf="data.opening_crawl">
    Opening Crawl: {{ data.opening_crawl }}
  </div>
  <div  *ngIf="data.characters">
    Characters: {{ data.characters }}
  </div>
  <div  *ngIf="data.classification">
    Classification: {{ data.classification }}
  </div>
  <div  *ngIf="data.designation">
    Designation: {{ data.designation }}
  </div>
  <div  *ngIf="data.average_height">
    Average Height: {{ data.average_height }}
  </div>
  <div  *ngIf="data.homeworld">Home World: {{ data.homeworld }}</div>
  <div  *ngIf="data.films">Films: {{ data.films }}</div>
  <div  *ngIf="data.people">Films: {{ data.people }}</div>
</div>
